*{  
margin:0;
padding:0;   
}
.portada_all{
   width: 100%;
   height: 100%;
.portada_image {
    
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -1;
    }
  .portada_container{
    color: rgb(16, 255, 76);
    width: 50%;
    text-align: center;
    margin: 0 auto;
    text-shadow: 5px 5px 5px black;
    h1{
        font-size: 3rem;
    }
    h3{
        margin-top: 30px;
        font-size: 1.5rem;
    }
    padding-top: 40svh;
  }
// botones
.portada_botton{
        margin: 50px auto;
        transition: 0.5s;
        @include botton1($fondo: rgb(28, 206, 197))
        
     
}
.portada_botton:hover{
    background: rgb(10, 119, 103);
}
}
 .portda_link {
     text-decoration: none;
     color: white;
     text-shadow: 2px 1px 2px  black; 
 }

 .portada_stard{
    position: fixed;
    top: 50px;
    left: 200px;
    width: 10px;
    height: 10px;

    background: rgb(255, 255, 255);
    border-bottom: 80%;

    @include stard($time:2s ,$escala:2.5)
 }
 .portada_stard2 {
     position: fixed;
     top: 400px;
    right: 50px;
     width: 10px;
     height: 10px;

     background: rgb(255, 255, 255);
     border-radius: 100%;
     @include stard($time: 1s, $escala: 1.8)
 }
 .portada_rick{
    position: fixed;
    animation-name: rick;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: -1;

    @keyframes rick {
            0% {
                translate: -500px -400px;
            }
    
            100% {
                transform: translateY(-80%);
               translate: 1500px -400px;
    
            }
        }




 }